/.DS_Store
/SessionDesktop.el
/ac-comphist.dat
*.1
/elisp/my_exten.elc
*.2
/emacs.bmk
/history
/myinit.el
/places
/recentf
elpa/*
auto-save-list/*
/.emacs.desktop
/.emacs.desktop.lock
/.org-id-locations
/recentf~
/abbrev_defs
/elisp/sensible-defaults.el
/elisp/sensible-defaults.elc
/tramp
/myinit.el~
*.gpg
*.png
/org-gcal/*
/backups/*
/gnus.el
/init_bash.sh
/secrets/.DS_Store
/bbdb
/%backup%~
