[submodule "elisp/sky-color-clock"]
	path = elisp/sky-color-clock
	url = https://github.com/zk-phi/sky-color-clock.git
[submodule "elisp/slime-repl-ansi-color"]
	path = elisp/slime-repl-ansi-color
	url = https://github.com/enriquefernandez/slime-repl-ansi-color.git
[submodule "elisp/commoji.el"]
	path = elisp/commoji.el
	url = https://github.com/davep/commoji.el.git
[submodule "elisp/move-lines"]
	path = elisp/move-lines
	url = https://github.com/targzeta/move-lines.git
[submodule "elisp/prettify-utils.el"]
	path = elisp/prettify-utils.el
	url = https://github.com/Ilazki/prettify-utils.el.git
